{"swagger":"2.0","info":{"title":"Azure Open AI Chat-GPT Model","description":"","version":"1.0"},"host":"opeanaiansjdr.openai.azure.com","basePath":"/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/openai/deployments/chat/chat/completions":{"post":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"object":{"type":"string","description":"object"},"created":{"type":"integer","format":"int32","description":"created"},"model":{"type":"string","description":"model"},"choices":{"type":"array","items":{"type":"object","properties":{"index":{"type":"integer","format":"int32","description":"index"},"finish_reason":{"type":"string","description":"finish_reason"},"message":{"type":"object","properties":{"role":{"type":"string","description":"role"},"content":{"type":"string","description":"content"}},"description":"message"}}},"description":"choices"},"usage":{"type":"object","properties":{"prompt_tokens":{"type":"integer","format":"int32","description":"prompt_tokens"},"completion_tokens":{"type":"integer","format":"int32","description":"completion_tokens"},"total_tokens":{"type":"integer","format":"int32","description":"total_tokens"}},"description":"usage"}}}}},"summary":"Use Azure OpenAI ChatGPT model","description":"Use Azure OpenAI ChatGPT model","operationId":"UseAzureOpenAIChatGPTmodel","parameters":[{"name":"api-version","in":"query","required":true,"type":"string","default":"2023-03-15-preview","x-ms-visibility":"internal"},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json","x-ms-visibility":"internal"},{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"messages":{"type":"array","items":{"type":"object","properties":{"role":{"type":"string","description":"","title":"Message role","x-ms-visibility":"important","enum":["system","user","assistant"]},"content":{"type":"string","description":"","title":"Message content","x-ms-visibility":"important"}},"required":["content","role"]},"description":"messages"},"temperature":{"type":"number","format":"float","description":"","title":"temperature","x-ms-visibility":"important"}},"required":["messages","temperature"]}}]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"API Key":{"type":"apiKey","in":"header","name":"api-key"}},"security":[{"API Key":[]}],"tags":[]}